#leftSide {
    font-size: 1vw;
}
#leftSide .header h2 {
    display: inline-block;
}
.switch-head {
    display: inline-block;
}
.switch-head span {
    display: inline-block;
    width: 1vw;
    height: 1vw;
    background: #fff;
}
.section-body {
    padding: 0 1vw;
}
.section-body>ul>li {
    overflow: hidden;
    margin: 1.2vw 0;
    border-bottom: 1px solid #5b6671;
}
.second-sec>ul>li {
    border: none;
}
#leftSide .f-left-top {
    width: 5.8vw;
    height: 1.3vw;
    background: #092544;
    border-radius: 0.6vw;
    font-size: 0.8vw;
    text-align: center;
    line-height: 1.3vw;
}
.f-left ul li {
    height: 2vw;
    line-height: 2vw;
    font-size: 1vw;
}
.f-left ul {
    padding-left: 1vw;
    margin: 0.5vw 0;
}
.f-left {
    float: left;
    width: 58%;
}
.f-right {
    float: right;
    width: 36%;
    height: 6.6vw;
    margin-top: 0.6vw;
}
.center-rate {
    font-size:0.8vw;
    position: relative;
    top: -50%;left: 50%;
    text-align:center;
    transform: translate(-50%, -50%);
}
.left-btn {
    width: 2.8vw;
    height: 8.5vw;
    /* float: right; */
    background: url(../images/left_slide_btn.png) no-repeat;
    background-size: 96%;
    margin-top: 5.6vw;
    margin-left: 23vw;
    position: absolute;
    z-index: 101;
    cursor: pointer;
}
.s-left-header {
    padding: 0.8vw 0;
}
.second-sec .progressBar .progressBarBar{
    -webkit-transition: width 2s;
    -moz-transition: width 2s;
    -o-transition: width 2s;
    transition: width 2s;
}
.second-sec .progressBar{
    width: 14vw;
    display: inline-block;
    position: relative;
}
.second-sec .progressBar .progressBarBar {
    width: 0;
    height: .86vw;
}
.second-sec .progressBar .progressBarbg {
    width: 14vw;
    height: .86vw;
    background: #37424b;
    border-radius: 3vw;
    border: 1px solid #444;
    border-bottom-color: #555;
}
.progressRate {
    float: right;
    font-size: 0.5vw;
    color: #26fffe;
}
.progressRate span {
    color: #26fffe;
}

/*贫困家庭*/
.section-body table {
    width: 100%;
    margin: 1vw 0;
}
.section-body thead {
    line-height: 2vw;

}
.section-body tbody td {
    text-align: center;
    line-height: 2vw;
    font-size: .9vw;
}
.section-body tbody tr {
    margin: 1vw 0;
}