#leftSide {
    font-size: 1vw;
}
.section-body {
    padding: 0 1vw;
}
.section-body>ul>li {
    overflow: hidden;
    margin: 1.2vw 0;
    border-bottom: 1px solid #5b6671;
}
.second-sec>ul>li {
    border: none;
}
#leftSide .f-left-top {
    width: 5.8vw;
    height: 1.3vw;
    background: #092544;
    border-radius: 0.6vw;
    font-size: 0.8vw;
    text-align: center;
    line-height: 1.3vw;
}
.f-left ul li {
    height: 2vw;
    line-height: 2vw;
    font-size: 1vw;
}
.f-left ul {
    padding-left: 1vw;
    margin: 0.5vw 0;
}
.f-left {
    float: left;
    width: 58%;
}
.f-right {
    float: right;
    width: 36%;
    height: 6.6vw;
    margin-top: 0.6vw;
}
.left-btn {
    width: 2.24vw;
    height: 7vw;
    float: right;
    background: url("../images/left_slide_btn.png") no-repeat;
    background-size: 100%;
    margin-top: 15vw;
    margin-right: -2.24vw;
}
.s-left-header {
    padding: 0.8vw 0;
}
.second-sec .progressBar .progressBarBar{
    -webkit-transition: width 2s;
    -moz-transition: width 2s;
    -o-transition: width 2s;
    transition: width 2s;
}
.second-sec .progressBar{
    width: 14vw;
    display: inline-block;
    position: relative;
}
.second-sec .progressBar .progressBarBar {
    width: 0;
    height: .86vw;
}
.second-sec .progressBar .progressBarbg {
    width: 14vw;
    height: .86vw;
    background: #37424b;
    border-radius: 3vw;
    border: 1px solid #444;
    border-bottom-color: #555;
}
.progressRate {
    float: right;
    font-size: 0.5vw;
    color: #26fffe;
}
.progressRate span {
    color: #26fffe;
}
